body {
	font-family:sans-serif;
}
.container{
min-height:100%;
position:relative;
}
.banner{
background-color:#365d95;
min-height:100px;
width:100%;
overflow:hidden;
}

.banner img{
float:left;
}
.banner a{
text-decoration:none;

}

h1{
	margin:0px 5px 5px 10px;
	color:white;
	padding: 30px 0px 0px 0px;
	overflow: hidden;
	width: 60%;
	float:left;

}

div.tab {
    overflow: hidden;
	background-color:#ddd;
}

div.tab button {
	float: right;
    border: 1px solid #365d95;
    border-radius: 5px ;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
	background-color: white;
	margin: 3px;
}

div.tab button:hover {
    color: grey;
}

div.tab button.active {
    background-color: #365d95;
	color: white;
}

div.tabcontent{
	margin: 2px 2px 2px 2px;
}

footer{
margin-top: 2em;
padding:0 1em;
width:75%;
overflow:hidden;

}
footer a img{
float:left;
margin:0 15px 0 0;

}
footer p{
margin-top:30px;
color:#7C8395;

}

